:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-gray: #F1F1F1;
    --color-purple: #5936B4;
    --color-purple-2: #362A84;
    --color-purple-3: #2E335A;
    --color-purple-4: #1C1B33;
    --color-red: #B72419;
}