.addItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item {
    display: flex;
    justify-content: space-between;
}

.item input {
    width: 2rem;
}

.item select {
    width: 9.6rem;
    border-radius: 5px;
}