.icon {
    height: 1rem;
}

.order {
    background: linear-gradient(to bottom, #5936B4, #362A84);
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 15px;
    font-size: 12px;
    color: #F8F9FA;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: margin 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform-origin: center center;
}

.order:hover {
    cursor: pointer;
    border-color: #646cff;
}

.order ul {
    display: flex;
    justify-content: space-between;
}

.order input {
    max-width: 7rem;
    justify-items: end;
}

.order button {
    width: 5rem;
    align-self: flex-end;
    background: #5936B4;
    border: black;
}

.orderItems {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#specifies {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.specifies_secondary {
    color: gainsboro;

    display: flex;
    flex-direction: column;
}

.expanded {
    width: 60%;
    max-width: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 998;
}

.order select {
    height: 1.7rem;
    width: 7.7rem;
    border-radius: 5px;
}