.listOrders {
  max-height: 500px;
  width: 100%;
  
  display: grid;
  justify-content: space-between;
  padding: 0;
  gap: 1rem;

  grid-template-columns: repeat(2, 1fr);
  overflow-y: auto;
  overflow-x: auto;
  
  border-radius: 10px;
}

/* .orders {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
} */