.listOrders {
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  overflow-y: hidden;
  overflow-x: auto;
  border-radius: 10px;
}

/* .orders {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
} */