.icon {
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20;
  font-size: 1rem;
  display: inline-block;
  line-height: 1;
}

.orderInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderInfo input {
  justify-items: end;
}

select {
  width: 9.6rem;
}