@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

.date {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
    margin: 30px 0;
}

.date input {
    width: 6rem;
}

.date button {
    padding: 0.5rem 1rem;
}

.icon {
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20;
  font-size: 1rem;
  display: inline-block;
  line-height: 1;
}