.date {
    max-width: 350px;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    
    margin: 0 auto 30px;
}

.date input {
    width: 6rem;
}

.date button {
    padding: 0.5rem 0.7rem;
    display: flex;
}