.item {
    display: flex;
    align-items: center;
    background-color: #2E335A;
    border-radius: 10px;
    padding: 10px;
    gap: 75px;
}

.name {
    width: 100px;
}

.date {
    color: #868E96;
    font-size: 12px;
}

.value {
    color: greenyellow;
}

.debit {
    color: red;
}