.item {
    display: flex;
    justify-content: space-between;
    background-color: #2E335A;
    border-radius: 10px;
    padding: 10px;
}

.item div {
    width: 100%;
}

.date {
    align-self: flex-end;
    justify-self: flex-end;
    
    color: #868E96;
    font-size: 12px;
}

.value {
    align-self: flex-end;
    justify-self: flex-end;
    color: greenyellow;
}

.debit {
    align-self: flex-end;
    justify-self: flex-end;
    color: red;
}

li :hover {
    cursor: pointer;
}