.history {
    color: #F8F9FA;
    display: flex;
    flex-direction: column;
}

h6 {
    font-weight: 200;
    margin: 30px 0 0;
}

.transactionsHistory {
    background-color: #1C1B33;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}