.orders {
    display: flex;
    flex-direction: column;
}

.addOrderButton {
    background-color: #5936B4;
    align-self: flex-end;
}

.overlay {
    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;

    position: fixed;
    z-index: 998;
    background: rgba(0, 0, 0, 0.4);
}

.newOrder {
    width: 60%;
    max-width: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.listOrders {
  max-height: 500px;
  width: 100%;
  
  display: grid;
  align-items: start;
  justify-content: space-between;
  padding: 0;
  gap: 1rem;

  grid-template-columns: repeat(2, 1fr);
  overflow-y: auto;
  
  border-radius: 10px;
}
