.dtgCustomers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.dtgHeader {
    padding: 10px;
    background-color: #5936B4;
    border-radius: 10px 10px 0 0;

    display: flex;
}
.column1 {
    width: 20%;
}

.column2 {
    width: 50%;
}

.dtgLine {
    padding: 10px;

    display: flex;
    align-items: center;
}

.buttons {
    margin-left: auto;
    display: flex;
    gap: 5px;    
}

.buttons button {
    width: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background: none;
}

.button:hover {
    cursor: pointer;
}

ul {
    padding: 0;
}